{% extends "base.html" %}

{% block content %}
<div class="form-style-10">
    <h1>Add new book!</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="section"><span>1</span>Book title</div>
        <div class="inner-wrap">
            {{ form.book_title.label }} {{ form.book_title() }}
            {% for error in form.book_title.errors %}<p style="color: red;">{{ error }}</p>{% endfor %}
        </div>
        <div class="section"><span>2</span>Author full name</div>
        <div class="inner-wrap">
            {{ form.author_name.label }} {{ form.author_name() }}
            {% for error in form.author_name.errors %}<p style="color: red;">{{ error }}</p>{% endfor %}
        </div>
        <div class="button-section">
            <input type="submit" value="Add new book"/>
        </div>
    </form>
</div>
{% endblock %}