{% extends "base.html" %}

{% block content %}
<h2>All Books:</h2>
<table class="customTable">
    <thead>
        <tr><th>ID</th><th>Title</th><th>Author</th><th>Views</th></tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td><a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.title }}</a></td>
            <td><a href="{{ url_for('books_by_author', author_name=book.author) }}">{{ book.author }}</a></td>
            <td><strong>{{ book.views }}</strong></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}