version: '3.8'

services:
  app:
    build: .
    restart: always

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # Монтируем локальную папку static в папку, которую Nginx считает корневой для статики
      - ./static:/usr/share/nginx/html/static:ro
    ports:
      - "80:80"
    depends_on:
      - app